src/pug/pages/ui.pug
extends ../layout
block content
    section.section
        .container
            h4(style="text-decoration: underline;") Типографика
            h1 Готовый дизайн интерьера за 8 недель
            h2 Премиальный сервис каждому клиенту 
            h3 Дарья Косачева
            h4 Квартира на Ленинском  проспекте, 110 М²
            h5 Спальная комната
            p 
                |Заполните форму, мы вышлем вам полный каталог проектов в формате *.pdf на электронную почту. Наш менеджер перезвонит вам, что бы убедится что вы ее получили. Заявка ни к чему вас не обязывает.
            a(href="#") Link Regular 16 pt
            a(href="#").active Link Regular 16 pt
            h4(style="text-decoration: underline;") Кнопки
            +btnLink("#", "Начать проект", "btn--1")
            +btnLink("#", "Начать проект", "btn--2")
            +btnLink("#", "Заказать звонок", "btn--2 js-modal", "modalCall")
            +btnAttach("Прикрепить файл не более 10 Мб", "")
            a(href="tel: +7 495 119-73-76") +7 495 119-73-76
            a(href="mailto: info@group-prof.ru") info@group-prof.ru
            h4(style="text-decoration: underline;") Input
            form(action="./ui.html", method="post", class="form")
                +input("text", "form__input", "Имя", "name1")
                +input("email", "form__input required error", "E-mail", "name2")
                +btnSubmit("Отправить каталог", "btn--1")
            h4(style="text-decoration: underline;") Social
            - var socials = ["vk", "insta", "share"]
            +social(socials)
            h4(style="text-decoration: underline;") CheckGroup
            +checkGroup(["Позвонить", "На почту", "WhatsUp"], 1)
            h4(style="text-decoration: underline;") Форма для карандаша
            +modal("Dream", "first")
            +modal("Call", "second")
            +modal("Success", "success")
            h4(style="text-decoration: underline;") Избранные работы
            //- +favProject(["project-1", "project-2"], "_main")
            //- +favProject(["project-3", "project-2"])
            +favProject([{name: "project-1", title: "Спальная комната"}, {name: "project-3", title: "Детская спальня"}, {name: "project-2", title: "Гостиная"}], "_1", "Квартира на Ленинском проспекте, 110 М²")
            +favProject([{name: "project-3", title: "Спальная комната"}, {name: "project-2", title: "Детская спальня"}, {name: "project-1", title: "Гостиная"}], "_2", "Таунхаус  в Красногорске, 160 М2")
            +favProject([{name: "project-2", title: "Спальная комната"}, {name: "project-1", title: "Детская спальня"}, {name: "project-3", title: "Гостиная"}], "_3", "Квартира на Водном стадионе, 95 М2")
            +favProject([{name: "project-1", title: "Спальная комната"}, {name: "project-3", title: "Детская спальня"}, {name: "project-2", title: "Гостиная"}], "_4", "Квартира на Ленинском проспекте, 110 М²")
            +favProject([{name: "project-3", title: "Спальная комната"}, {name: "project-2", title: "Детская спальня"}, {name: "project-1", title: "Гостиная"}], "_5", "Таунхаус  в Красногорске, 160 М2")
            +favProject([{name: "project-2", title: "Спальная комната"}, {name: "project-1", title: "Детская спальня"}, {name: "project-3", title: "Гостиная"}], "_6", "Квартира на Водном стадионе, 95 М2")

dist/ui.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/logo-mobile.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="libs/normalize.css">
    <link rel="stylesheet" type="text/css" href="libs/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="libs/fancybox-master/jquery.fancybox.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="libs/animate.css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="libs/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="libs/slick/slick.min.js"></script>
    <script type="text/javascript" src="libs/jquery.inputmask.bundle.js"></script>
    <script>
      $(document).ready(function(){
          $('[type=tel]').inputmask({mask: "+7 [999 999-9999]", greedy: false});
      });
    </script>
    <script type="text/javascript" src="libs/fancybox-master/jquery.fancybox.min.js"></script>
    <script src="libs/wow.min.js"></script>
    <script>/*FIX*/ //- new WOW().init();</script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
  </head>
  <body>
    <div class="wrapper">           
      <div class="bg-lines container">               <span class="bg-lines__line"></span><span class="bg-lines__line"></span><span class="bg-lines__line"></span><span class="bg-lines__line"></span><span class="bg-lines__line"></span><span class="bg-lines__line"></span></div>
      <header class="header wow fadeInDown" data-wow-delay="2s" data-wow-duration="0.6s">
        <div class="container">
          <div class="header__menu">
            <div class="header__b _left header__logo">
              <div class="logo"><img src="img/logo-mobile.png" alt="logo"></div>
            </div>
            <div class="header__b inner"><a href="tel:+7 495 119-73-76">+7 495 119-73-76</a></div>
            <div class="header__b _right"><a class="pen js-modal" href="#" data-target="modalDream"> <span class="pen__text">Сделать мечту реальностью</span></a>
              <button class="header__toggle js-toggle" data-target="sidebar"><img src="img/icon-menu.svg" alt="menu"></button>
            </div>
          </div>
          <div class="header__menu mobile fixed">
            <div class="header__b _right"><a class="pen js-modal" href="#" data-target="modalDream"> <span class="pen__text">Сделать мечту реальностью</span></a><a class="phone" href="tel:+7 495 119-73-76" data-href="+7 495 119-73-76"></a></div>
          </div>
        </div>
      </header>
      <div class="main">
        <div class="workarea">
          <section class="section">
            <div class="container">
              <h4 style="text-decoration: underline;">Типографика</h4>
              <h1>Готовый дизайн интерьера за 8 недель</h1>
              <h2>Премиальный сервис каждому клиенту </h2>
              <h3>Дарья Косачева</h3>
              <h4>Квартира на Ленинском  проспекте, 110 М²</h4>
              <h5>Спальная комната</h5>
              <p>
                 Заполните форму, мы вышлем вам полный каталог проектов в формате *.pdf на электронную почту. Наш менеджер перезвонит вам, что бы убедится что вы ее получили. Заявка ни к чему вас не обязывает.</p><a href="#">Link Regular 16 pt</a><a class="active" href="#">Link Regular 16 pt</a>
              <h4 style="text-decoration: underline;">Кнопки</h4><a class="btn btn--1" href="#">Начать проект</a><a class="btn btn--2" href="#">Начать проект</a><a class="btn btn--2 js-modal" href="#" data-target="modalCall">Заказать звонок</a>
                  <label class="attach ">Прикрепить файл не более 10 Мб
                    <input type="file" name="attach">
                  </label><a href="tel: +7 495 119-73-76">+7 495 119-73-76</a><a href="mailto: info@group-prof.ru">info@group-prof.ru</a>
              <h4 style="text-decoration: underline;">Input</h4>
              <form class="form" action="./ui.html" method="post">
                    <div class="form__input">
                      <input type="text" id="name1" placeholder="Имя">
                      <label for="name1">Имя</label>
                    </div>
                    <div class="form__input required error">
                      <input type="email" id="name2" placeholder="E-mail">
                      <label for="name2">E-mail</label>
                    </div>
                    <button class="btn btn--1" type="submit">Отправить каталог</button>
              </form>
              <h4 style="text-decoration: underline;">Social</h4>
                  <div class="socials">
                    <ul class="socials__list">
                      <li class="socials__item"><a class="vk" href="#"></a>
                      </li>
                      <li class="socials__item"><a class="insta" href="#"></a>
                      </li>
                      <li class="socials__item socials__share"><a class="share" href="#"></a>
                        <ul class="ya-share2" data-services="vkontakte,facebook,odnoklassniki"></ul>
                      </li>
                    </ul>
                  </div>
              <h4 style="text-decoration: underline;">CheckGroup</h4>
                  <div class="cgroup">
                    <input type="hidden" name="SERVICES" value="PHONE">
                    <ul class="cgroup__list">
                      <li class="cgroup__item"><a href="#" data-value="Позвонить">Позвонить</a></li>
                      <li class="cgroup__item _checked"><a href="#" data-value="На почту">На почту</a></li>
                      <li class="cgroup__item"><a href="#" data-value="WhatsUp">WhatsUp</a></li>
                    </ul>
                  </div>
              <h4 style="text-decoration: underline;">Форма для карандаша</h4><!-- modal -->
                  <div class="modal" data-id="modalDream">
                    <div class="modal__content modal__content--first"><a class="close" href="javascript:;" title="Закрыть" onclick="closePopup($('[data-id=modalDream]'))"></a>
                      <div class="modal__head">
                        <h3 class="modal__title">Сделаем мечту реальностью</h3>
                        <p class="modal__desc">
                           Вы уже не раз представляли себе каким будет идеальный интерьер вашего дома, но не знаете с чего начать. Наши специалисты готовы помочь воплотить ваши идеи в реальность.</p>
                      </div>
                      <div class="modal__body">
                        <form class="modal__form form" id="formDream" action="./ui.html" method="post">
                              <div class="form__input required">
                                <input type="tel" id="phone" placeholder="Телефон" autofocus>
                                <label for="phone">Телефон</label>
                              </div>
                              <button class="btn btn--2" type="submit">Отправить</button>
                          <p class="form__note">Нажимая кнопку «Отправить» я подтверждаю что ознакомился с <a href="#">политикой конфиденциальности </a>и даю <a href="#">согласие </a>на обработку персональных данных</p>
                        </form>
                      </div>
                    </div>
                  </div><!-- modal -->
                  <div class="modal" data-id="modalCall">
                    <div class="modal__content modal__content--second"><a class="close" href="javascript:;" title="Закрыть" onclick="closePopup($('[data-id=modalCall]'))"></a>
                      <div class="modal__head">
                        <h4 class="modal__title">Заказать дизайн</h4>
                      </div>
                      <div class="modal__body">
                        <form class="modal__form form" id="formCall" action="./ui.html" method="post">
                              <div class="form__input required">
                                <input type="tel" id="phone" placeholder="Телефон" autofocus>
                                <label for="phone">Телефон</label>
                              </div>
                              <button class="btn btn--2" type="submit">Отправить</button>
                          <p class="form__note">Нажимая кнопку «Отправить» я подтверждаю что ознакомился с <a href="#">политикой конфиденциальности </a>и даю <a href="#">согласие </a>на обработку персональных данных</p>
                        </form>
                      </div>
                    </div>
                  </div><!-- modal -->
                  <div class="modal" data-id="modalSuccess">
                    <div class="modal__content modal__content--success"><a class="close" href="javascript:;" title="Закрыть" onclick="closePopup($('[data-id=modalSuccess]'))"></a>
                      <div class="modal__head">
                        <h4 class="modal__title">Успешно отправлено</h4>
                        <p class="modal__desc">
                           Ожидайте, скоро мы с вами свяжемся</p>
                      </div>
                    </div>
                  </div>
              <h4 style="text-decoration: underline;">Избранные работы</h4><!-- fav-project -->
                  <div class="favproject _1">
                    <div class="favproject__wrap">
                      <div class="favproject__slider">
                        <div class="slider">
                          <div class="slider__ctrl">
                            <div class="arrows"><a class="arrows__item left" href="#" data-attr="prevSlide"></a><a class="arrows__item right" href="#" data-attr="nextSlide"></a></div>
                            <div class="counter"><span class="num">0</span>/<span class="amount">0</span></div>
                          </div>
                          <div class="slider__list">
                            <div class="slider__item"><a class="slider__img" href="img/project-1.png" data-fancybox="gallery_1"><span class="zoom"></span><img src="img/project-1.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Спальная комната</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-3.png" data-fancybox="gallery_1"><span class="zoom"></span><img src="img/project-3.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Детская спальня</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-2.png" data-fancybox="gallery_1"><span class="zoom"></span><img src="img/project-2.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Гостиная</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="preloader"><img src="img/preloader.gif" alt="preloader"></div>
                      </div>
                      <div class="favproject__b _title">
                        <h4 class="favproject__title">Квартира на Ленинском проспекте, 110 М²</h4>
                        <p class="favproject__meta">2870 руб. за кв.м2, 8 недель</p>
                      </div>
                    </div>
                  </div><!-- fav-project -->
                  <div class="favproject _2">
                    <div class="favproject__wrap">
                      <div class="favproject__slider">
                        <div class="slider">
                          <div class="slider__ctrl">
                            <div class="arrows"><a class="arrows__item left" href="#" data-attr="prevSlide"></a><a class="arrows__item right" href="#" data-attr="nextSlide"></a></div>
                            <div class="counter"><span class="num">0</span>/<span class="amount">0</span></div>
                          </div>
                          <div class="slider__list">
                            <div class="slider__item"><a class="slider__img" href="img/project-3.png" data-fancybox="gallery_2"><span class="zoom"></span><img src="img/project-3.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Спальная комната</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-2.png" data-fancybox="gallery_2"><span class="zoom"></span><img src="img/project-2.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Детская спальня</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-1.png" data-fancybox="gallery_2"><span class="zoom"></span><img src="img/project-1.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Гостиная</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="preloader"><img src="img/preloader.gif" alt="preloader"></div>
                      </div>
                      <div class="favproject__b _title">
                        <h4 class="favproject__title">Таунхаус  в Красногорске, 160 М2</h4>
                        <p class="favproject__meta">2870 руб. за кв.м2, 8 недель</p>
                      </div>
                    </div>
                  </div><!-- fav-project -->
                  <div class="favproject _3">
                    <div class="favproject__wrap">
                      <div class="favproject__slider">
                        <div class="slider">
                          <div class="slider__ctrl">
                            <div class="arrows"><a class="arrows__item left" href="#" data-attr="prevSlide"></a><a class="arrows__item right" href="#" data-attr="nextSlide"></a></div>
                            <div class="counter"><span class="num">0</span>/<span class="amount">0</span></div>
                          </div>
                          <div class="slider__list">
                            <div class="slider__item"><a class="slider__img" href="img/project-2.png" data-fancybox="gallery_3"><span class="zoom"></span><img src="img/project-2.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Спальная комната</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-1.png" data-fancybox="gallery_3"><span class="zoom"></span><img src="img/project-1.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Детская спальня</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-3.png" data-fancybox="gallery_3"><span class="zoom"></span><img src="img/project-3.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Гостиная</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="preloader"><img src="img/preloader.gif" alt="preloader"></div>
                      </div>
                      <div class="favproject__b _title">
                        <h4 class="favproject__title">Квартира на Водном стадионе, 95 М2</h4>
                        <p class="favproject__meta">2870 руб. за кв.м2, 8 недель</p>
                      </div>
                    </div>
                  </div><!-- fav-project -->
                  <div class="favproject _4">
                    <div class="favproject__wrap">
                      <div class="favproject__slider">
                        <div class="slider">
                          <div class="slider__ctrl">
                            <div class="arrows"><a class="arrows__item left" href="#" data-attr="prevSlide"></a><a class="arrows__item right" href="#" data-attr="nextSlide"></a></div>
                            <div class="counter"><span class="num">0</span>/<span class="amount">0</span></div>
                          </div>
                          <div class="slider__list">
                            <div class="slider__item"><a class="slider__img" href="img/project-1.png" data-fancybox="gallery_4"><span class="zoom"></span><img src="img/project-1.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Спальная комната</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-3.png" data-fancybox="gallery_4"><span class="zoom"></span><img src="img/project-3.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Детская спальня</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-2.png" data-fancybox="gallery_4"><span class="zoom"></span><img src="img/project-2.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Гостиная</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="preloader"><img src="img/preloader.gif" alt="preloader"></div>
                      </div>
                      <div class="favproject__b _title">
                        <h4 class="favproject__title">Квартира на Ленинском проспекте, 110 М²</h4>
                        <p class="favproject__meta">2870 руб. за кв.м2, 8 недель</p>
                      </div>
                    </div>
                  </div><!-- fav-project -->
                  <div class="favproject _5">
                    <div class="favproject__wrap">
                      <div class="favproject__slider">
                        <div class="slider">
                          <div class="slider__ctrl">
                            <div class="arrows"><a class="arrows__item left" href="#" data-attr="prevSlide"></a><a class="arrows__item right" href="#" data-attr="nextSlide"></a></div>
                            <div class="counter"><span class="num">0</span>/<span class="amount">0</span></div>
                          </div>
                          <div class="slider__list">
                            <div class="slider__item"><a class="slider__img" href="img/project-3.png" data-fancybox="gallery_5"><span class="zoom"></span><img src="img/project-3.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Спальная комната</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-2.png" data-fancybox="gallery_5"><span class="zoom"></span><img src="img/project-2.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Детская спальня</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-1.png" data-fancybox="gallery_5"><span class="zoom"></span><img src="img/project-1.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Гостиная</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="preloader"><img src="img/preloader.gif" alt="preloader"></div>
                      </div>
                      <div class="favproject__b _title">
                        <h4 class="favproject__title">Таунхаус  в Красногорске, 160 М2</h4>
                        <p class="favproject__meta">2870 руб. за кв.м2, 8 недель</p>
                      </div>
                    </div>
                  </div><!-- fav-project -->
                  <div class="favproject _6">
                    <div class="favproject__wrap">
                      <div class="favproject__slider">
                        <div class="slider">
                          <div class="slider__ctrl">
                            <div class="arrows"><a class="arrows__item left" href="#" data-attr="prevSlide"></a><a class="arrows__item right" href="#" data-attr="nextSlide"></a></div>
                            <div class="counter"><span class="num">0</span>/<span class="amount">0</span></div>
                          </div>
                          <div class="slider__list">
                            <div class="slider__item"><a class="slider__img" href="img/project-2.png" data-fancybox="gallery_6"><span class="zoom"></span><img src="img/project-2.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Спальная комната</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-1.png" data-fancybox="gallery_6"><span class="zoom"></span><img src="img/project-1.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Детская спальня</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                            <div class="slider__item"><a class="slider__img" href="img/project-3.png" data-fancybox="gallery_6"><span class="zoom"></span><img src="img/project-3.png"></a>
                              <div class="favproject__b _caption">
                                <h5 class="favproject__caption">Гостиная</h5>
                                <p class="favproject__desc">Атмосферу уюта создают светлые тона и элементы декора, которые гармонично вписываются в интерьер.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="preloader"><img src="img/preloader.gif" alt="preloader"></div>
                      </div>
                      <div class="favproject__b _title">
                        <h4 class="favproject__title">Квартира на Водном стадионе, 95 М2</h4>
                        <p class="favproject__meta">2870 руб. за кв.м2, 8 недель</p>
                      </div>
                    </div>
                  </div>
            </div>
          </section>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <div class="footer__menu inner">
            <div class="footer__b footer__adress">
              <p>Москва,ул. Народного ополчения, д. 34, ст. 3 </p><a href="tel:+7 495 119-73-76">+7 495 119-73-76</a>
            </div>
            <div class="footer__b footer__socials">
                  <div class="socials">
                    <ul class="socials__list">
                      <li class="socials__item"><a class="vk" href="#"></a>
                      </li>
                      <li class="socials__item"><a class="insta" href="#"></a>
                      </li>
                      <li class="socials__item socials__share"><a class="share" href="#"></a>
                        <ul class="ya-share2" data-services="vkontakte,facebook,odnoklassniki"></ul>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="footer__b _copy">
              <div class="copyright">© Арт-Проф, 2019</div>
            </div>
            <div class="footer__b policy">
              <p><a href="#">Соглашение </a>на обработку персональных данных <a href="#">политика конфиденциальности</a></p>
            </div>
            <div class="footer__b prod">               <span class="prod__text">Сделано в</span><img src="img/star.png" alt="prod"></div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
